<h1>Current Weather</h1>
<div class="container">
  <div class="header-class">Name of City</div>
  <div class="header-value">{{ myWeather.cityName }}</div>
  <div class="header-class">Temperature</div>
  <div class="header-value">{{ myWeather.temerature }}</div>
  <div class="header-class" class="img">
    <img src="http://openweathermap.org/img/wn/{{ myWeather.icon }}@2x.png" />
  </div>

  <div class="header-class">Kind of Wether</div>
  <div class="header-value">{{ myWeather.weatherkind }}</div>
  <div class="header-class">Max</div>
  <div class="header-value">{{ myWeather.tempMax }}</div>
  <div class="header-class">Min</div>
  <div class="header-value">{{ myWeather.temMin }}</div>
</div>
<div class="submit-button">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input name="city" ngModel />
    <button>Submit</button>
  </form>
</div>
