.container {
  align-content: center;
  background-color: skyblue;
  padding: 2rem;
  justify-content: center;
  border: 1rem solid black;
  font-family: cursive;
}
.header-class {
  font-size: 1rem;
  background-color: yellow;
  /* padding-left: 5rem; */
  text-align: center;
  padding: 0.5rem;
}

.header-value {
  background-color: lightyellow;
  text-align: center;
  padding: 0.5rem;
}

.img {
  background-color: white;
  text-align: center;
  padding: 0.5rem;
}

.submit-button {
  background-color: yellow;
  text-align: center;
  padding: 0.5rem;
}
