<h1>Current Weather</h1>
<div class="container">
  <div class="header-class">Name of City</div>
  <div class="header-value">{{ myWeather.cityName }}</div>
  <div class="header-class">Temperature</div>
  <div class="header-value">{{ myWeather.temerature }}</div>
  <div class="header-class" class="img">
    <img src="{{ myWeather.icon }}" />
  </div>

  <div class="header-class">Kind of Wether</div>
  <div class="header-value">{{ myWeather.weatherkind }}</div>
  <div class="header-class">Max</div>
  <div class="header-value">{{ myWeather.tempMax }}</div>
  <div class="header-class">Min</div>
  <div class="header-value">{{ myWeather.temMin }}</div>
</div>
